h2{text-align:center;}

.main{width:100%; height:100%;position:relative;left:0; top:0; transition-duration:0.3s;background: rgb(204,204,204); background: linear-gradient(180deg, rgba(204,204,204,1) 0%, rgba(53,53,53,1) 100%); }
.main.active{background: rgba(204,204,204,0.8); background: linear-gradient(180deg, rgba(204,204,204,0.8) 0%, rgba(53,53,53,0.8) 100%); }
.main p{color:#1a1a1a; position: absolute;  left:50%;top:50%; transform:translate3d(-50%,-50%,0); transition-duration:0.5s;z-index:10;}
.main .inner{height:100%; background:url(../sliceImage/character_GY_tran.png) no-repeat center; background-size: contain;}
.main.active p{left: 3%; font-size: 28px; display: inline; transform: translate3d(0,0,0); top: 97px; line-height: 100px; opacity:0;}
.main p::before,.main p::after{position: absolute; top:0; right:0; bottom:0; left:0; content: attr(data-text); }
.main p::before{color:#800080; z-index:-1; animation:geunyoung01 0.3s ease infinite;}
.main p::after{color:#00ffff; z-index:-2; animation:geunyoung02 0.3s ease infinite;}
.active .main p::before,.active .main p::after{animation:none;}
@keyframes geunyoung01{
    0%{
        transform: translate(-1px, 1px);
    }
    25%{
        transform: translate(-2px, 2px);
    }
    50%{
        transform: translate(1px, 1px);
    }
    75%{
        transform: translate(1px, -2px);
    }
    100%{
        transform: translate(-1px, -1px);        
    }
}
@keyframes geunyoung02{
    0%{
        transform: translate(1px, -1px);
    }
    25%{
        transform: translate(2px, -2px);
    }
    50%{
        transform: translate(-1px, -1px);
    }
    75%{
        transform: translate(-1px, 2px);
    }
    100%{
        transform: translate(1px, 1px);        
    }
}
/* .main Fin.. */

.about{background-color:#ccc; text-align:center;}
.about img{position: absolute; left: 50%; transform: translateX(-50%);}
.about h2{color:#1a1a1a;}
.about ul{display:inline-block;margin:auto;}
.about ul li{color:#333;}
.about ul li dl:after{content:'';display:block; clear: both; visibility: hidden;}
.about ul li dl>*{float:left;text-align:left;}
.about ul li dl dd{white-space: nowrap;}




.about.show h2,.about.show ul li{opacity:1; transform:translate3d(0,0,0);}
/* .about Fin */

.canDo{background:url(../sliceImage/bg_02.png) no-repeat center; background-size:cover;}
.canDo h2{color:#e6e6e6;}
.canDo .inner > div{width:95%; margin:auto;}
.canDo .inner img,
.canDo .inner div div{width:45%; float:left;}
.canDo .inner img{margin-right:10%;}
.canDo .inner div ul li dl dt{color:#ccc; padding-left:25px; border:1px solid #ccc; border-radius:10px; transition-duration:0.3s;}
.canDo .inner div ul li dl dd{color:#a9a9a9; line-height:20px;transform: rotate(0.028deg);}
.canDo .inner div ul li dl dd div{float:unset; width:100%;}
.canDo .inner div ul li:not(:first-child) dl dd div{display:none;}
.canDo .inner div ul:hover li:not(:hover){opacity:0.7;}
.canDo .inner div ul li:hover dl dt{color:#fff; border-color:#fff;}
.canDo .inner div ul li:hover dl dt ~ dd{color:#fff;}
/* .canDo Fin.. */

.port ul{display:flex; justify-content: space-evenly; flex-wrap: wrap; margin:auto; width:95%;}
.port ul li{background-color: rgba(255,255,255,0.8);box-shadow: 2px 2px 15px rgba(0,0,0,0.2); position: relative;}
.port ul li a:not(.mobile){display:block; height:100%; color:#1a1a1a;}
.port ul li a:not(.mobile) figure{width:100%;}
.port ul li a:not(.mobile) figure div{overflow: hidden;}
.port ul li a:not(.mobile) figure div img{width:100%; transition-duration:0.3s;}
.port ul li a:not(.mobile) figure div:hover img{transform:scale(1.1);}
.port ul li a:not(.mobile) figure figcaption{ line-height:60px; text-align: center; transform: rotate(0.028deg);}
.port ul li a.mobile{display:inline-block; padding:5px;background-color:rgba(0,0,0,0.5); color:#e6e6e6; font-size:11px; transform:rotate(0.028deg); text-align:center; position: absolute; right:0; bottom:100%; transition-duration:0.3s;}
.port ul li a.mobile:hover{background-color:#2a9dee; color:#fff;}
/* .port Fin */

section:not(.main) h2{transition-duration:0.3s; transition-delay:0.2s; opacity:0; transform:translate3d(30px, 50px, 0);}
section.show h2{opacity:1; transform:translate3d(0,0,0);}
.canDo img{transition-duration:0.3s; transition-delay:0.4s; opacity:0; transform:translate3d(-30px, 50px, 0);}
section:not(.main) ul{transition-duration:0.3s; transition-delay:0.4s; opacity:0; transform:translate3d(30px, 50px, 0);}
.canDo.show img,
section.show ul{opacity:1; transform:translate3d(0,0,0);}
/* global animation */

@media screen and (max-width:767px){
    h2{font-size:30px; margin-bottom:25px;}

    .main.active{height:270px;}
    .main p{font-size:50px;}
    /* .main Fin  */

    .about .inner{padding:150px 0 50px;}
    .about img{top:-125px; width:250px}
    .about ul{padding-left: 30px; }
    .about ul li{line-height:25px;}
    .about ul li dl dt{width: 20%;}
    .about ul li dl dd{width:80%;}
    .about ul li dl dd span{margin-right:5%;}
    /* .about Fin */

    .canDo img{display:none;}
    .canDo .inner div div{width:100%}
    .canDo, .port{padding:50px 0;}
    .canDo{min-height:305px;}
    .canDo .inner div ul li{margin-bottom:10px;}
    .canDo .inner div ul li dl dt{font-size:18px;line-height:40px;}
    .canDo .inner div ul li dl dd{font-size:13px; padding:10px 10px 0 25px;}
    /* .canDo Fin.. */

    .port ul li{width:90%; margin-bottom:40px;}
    .port ul li a:not(.mobile) figure div{height:200px;}
    .port ul li a:not(.mobile) figure figcaption{font-size:12px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;}
    /*  */
}
@media screen and (min-width:768px){
    .about ul li dl dt{width: 30%;}
    .about ul li dl dd{width:70%;}
    .about ul li dl dd span{margin-right:15%;}
    
    .port ul li{width:30%;}
}
@media screen and (min-width:768px) and (max-width:1023px){
    h2{font-size:30px; margin-bottom:25px;}

    .main.active{height:350px;}
    .main p{font-size:70px;}
    /* .main Fin  */

    .about .inner{padding:180px 0 70px;}
    .about img{top:-150px; width:300px}
    .about ul li{line-height:25px;}
    /* .about Fin */

    .canDo, .port{padding:70px 0;}
    .canDo{min-height:325px;}
    .canDo .inner div ul li{margin-bottom:10px;}
    .canDo .inner div ul li dl dt{font-size:18px;line-height:40px;}
    .canDo .inner div ul li dl dd{font-size:13px; padding:10px 0 0 25px;}
    /* .canDo Fin.. */

    .port ul li{margin-bottom:40px;}
    .port ul li a:not(.mobile) figure div{height:200px;}
    .port ul li a:not(.mobile) figure figcaption{font-size:13px;}
    /* .port Fin */
}

@media screen and (min-width:1024px){
    h2{font-size:36px; margin-bottom:50px;}
    .main.active{height:450px;}
    .main p{font-size:96px;}
    /* .main Fin.. */

    .about .inner{padding:250px 0 100px;}
    .about img{top: -225px;}
    .about ul li{line-height:45px;}
    /* .about Fin */

    .canDo, .port{padding:100px 0;}
    .canDo{min-height:400px;}
    .canDo .inner div ul li dl dt{font-size:20px;line-height:50px;}
    .canDo .inner div ul li dl dd{font-size:14px; padding:10px 0 0 35px;}
    /* .canDo Fin.. */

    .port ul li{margin-bottom:60px;}
    .port ul li a:not(.mobile) figure div{height:280px;}
    .port ul li a:not(.mobile) figure figcaption{font-size:14px;}
    /* .port Fin */
}